.App {
  text-align: left;
}

/* @media screen and (min-width: 700px) {
  .currentStats {
    margin-bottom: 1em;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255,255,255,0.5);
  }
}

@media screen and (min-width: 450px) {
  .nextFiveDays {
    width: 16.666666%;
    margin-bottom: initial;
  }
} */
